/!\ Delete this file if the test input doesn't change between part 1 and part 2

This file is useful in days like [01/12/2023](https://adventofcode.com/2023/day/1)
The part 1 example had a different input then the part 2.

If this file is present it will be used as the input only for the `part2()` method
the `Solution` class when `livemode` is false.

Otherwise for `part1()` the file `input_test` will be used if `livemode` is false.

And if livemode is true the `input` file will be used for both parts functions.
