from ...base import BaseSolution, answer


class Solution(BaseSolution):
    # @answer(None, None)
    def part1(self):
        [print(line) for line in self.lines]
        return 1

    # @answer(None, None)
    # def part2(self):
        # return 1
